<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}GOVI Browser{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('vendor/bootstrap/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/fontawesome/css/all.min.css') }}">
        <link rel="stylesheet" href="{{ asset('main.css') }}">
    </head>
    <body>
        {% block body %}{% endblock %}

        <div class="text-center" style="margin-top: 10rem; margin-bottom: 5rem;">
            <div class="alert alert-light fw-light">
                <strong>Note:</strong><br/>
                You are browsing the Global Ontology and Vocabulary Index (GOVI).<br/>
                The data you see here is Public Domain (CC0 1.0 DEED) and can be downloaded at <a href="https://github.com/k00ni/govi">https://github.com/k00ni/govi</a><br/>
            </div>
        </div>
        <script src="{{asset('vendor/bootstrap/bootstrap.min.js') }}" type="text/javascript"></script>
    </body>
</html>
