{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <i>German law requires this:</i>

        <h2 class="mt-5">Imprint</h2>

        <h3 class="mt-3">Operator:</h3>

        > Name: Konrad Abicht<br/>
        > E-mail: hi @&nbsp;inspirito.de

        <h3 class="mt-4">Disclaimer</h3>
        <h5 class="mt-3">Liability for content</h5>
        <p>
            The contents of these pages were created with great care, but no guarantee can be given for the topicality, correctness, completeness or quality of the information provided.
            Liability claims against the author relating to material or immaterial damage caused by the use or non-use of the information provided or by the use of incorrect or incomplete information are fundamentally excluded, unless there is evidence of wilful intent or gross negligence on the part of the author.
            The displayed data from GOVI is shown without any changes to the content.
            I do not adopt this content as my own.
            If you find or suspect a legal violation, please contact me via the e-mail above.
            I am very grateful for any corrections.
        </p>

        <h5>Used library/vendors</h5>

        The following libraries/vendors are used:

        <ul>
            <li><a href="https://fontawesome.com/">fontawesome</a></li>
            <li><a href="https://getbootstrap.com/">Bootstrap</a></li>
            <li><a href="https://github.com/k00ni/semicon/">Semion</a></li>
            <li><a href="https://symfony.com/">Symfony Framework</a></li>
        </ul>

        <h2 class="mt-5">Privacy policy</h2>

        The person responsible for data processing is
        <br/>
        <br/>
        > Name: Konrad Abicht<br/>
        > E-mail: hi @&nbsp;inspirito.de

        <p class="mt-4">In the following I inform you about the handling of your data.</p>
        <h5>Access data and hosting</h5>
        You can visit this website without providing any personal data.
        Each time a website is accessed, the web server only automatically saves a so-called server log file, which contains, for example, the name of the requested file, your IP address, the date and time of access, the amount of data transferred and the requesting provider (access data) and documents the access.
        This data is not analyzed by me.

        <h5 class="mt-4">Data processing when making contact</h5>

        I collect and process the data you provide, such as your contact details, your name and your request, when you contact me (e.g. by e-mail).
        The data processing is carried out exclusively by me on the basis of and for processing your request.
        I process your data for the implementation of pre-contractual and contractual measures that take place at your request (Art. 6 para. 1 b GDPR).
        I store your data for as long as I need it for the specific processing purpose, for warranty purposes or to comply with statutory retention periods.
        Your data will not be transferred to third countries.

        <h5 class="mt-4">Data transfer</h5>
        No data is transferred to third parties.

        <h5 class="mt-4">Cookies and web analysis</h5>
        No cookies are set.

        <h5 class="mt-4">Your rights</h5>

        <p>As a data subject, you have the following rights:</p>
        <ul>
            <li>
                In accordance with Art. 15 GDPR, you have the right to request information about your personal data processed by us to the extent specified therein.
            </li>
            <li>
                In accordance with Art. 16 GDPR, you have the right to demand the immediate correction of incorrect or incomplete personal data stored by me.
            </li>
            <li>
                In accordance with Art. 21 GDPR, you have the right to object to data processing. In addition, if there are special reasons, you can object to data processing based on a legitimate interest at any time.
            </li>
            <li>
                In accordance with Art. 77, para. 1 GDPR, you have the right to lodge a complaint with a data protection supervisory authority if, for example, you believe that my data processing is unlawful.
            </li>
        </ul>

        <h5 class="mt-4">Links to websites of other providers</h5>

        <p>
            This website contains links to websites of other providers that are not covered by this privacy policy.
            Please note the data protection notices of these providers if you follow the links.
        </p>

    </div>
{% endblock %}