{% extends 'base.html.twig' %}

{% block body %}
    <div class="px-4 my-5 text-center">
        <h1 class="display-5 fw-bold text-body-emphasis">GOVI Browser</h1>
        <h4 class="fw-bold text-secondary">Global Ontology and Vocabulary Index</h4>
        <div class="col-lg-6 mx-auto">
            <p class="lead mt-4">
                Browse the GOVI <a href="https://github.com/k00ni/govi">index</a> easily.
                TODO
            </p>
            <div class="d-grid d-sm-flex justify-content-sm-center mt-5">
                <form action="">
                    <div class="input-group w-100">
                        <input type="text" name="search-term" class="form-control" placeholder="What are you interested in?">
                        <button type="button" class="btn btn-primary btn-lg px-4">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <hr>

    <div class="container">
        {% for row in index_entries %}
            <div class="mb-4 border-bottom">
                <h4><a href="{{ path('entry', {id: row['id']}) }}">{{ row['ontology_title'] }}</a></h4>

                {% if row['summary'] is not empty %}
                    <div class="alert alert-light"><i class="fa-solid fa-info me-2"></i> {{ row['summary']|slice(0, 150) }}...</div>
                {% else %}
                    <div class="alert fst-italic"><i class="fa-regular fa-circle-question me-2"></i> No summary available</div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}