<div class="text-center" style="font-size: 13px;">
    <div class="alert alert-light fw-light">
        <strong>Note:</strong><br/>
        You are browsing the Global Ontology and Vocabulary Index (GOVI).<br/>
        The data you see here is Public Domain (CC0 1.0 DEED) and can be downloaded at <a href="https://github.com/k00ni/govi">https://github.com/k00ni/govi</a><br/>
    </div>
</div>